/* generic */
:root {
    --c1: #d5f3c7;
    --c2: #ffffff;
    --code-bg: linear-gradient(315deg, var(--c1) 0%, var(--c2) 74%);
    --code-bg2: linear-gradient(225deg, var(--c2) 0%, var(--c1) 74%);
}

body {
    background-color: var(--c1);
    background-image: var(--code-bg);
}

.button {
    background-color: var(--c1);
    background-image: var(--code-bg);
    font-size: 24px;
    border-radius: 10px;
}

/* home page */

.profile img {
    border-radius: 0;
}

/* team */

.team-page {
    max-width: 1200px;
}

.team-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.team-member {
    text-align: center;
    width: 20%;
    margin: 10px;
}

.member-name {
    font-weight: 700;
}

.member-title {
    font-weight: 500;
}

@media (max-width: 600px) {
    .team-container {
        display: block;
    }

    .team-member {
        width: 70%;
        margin: auto auto 50px;
    }
}

/* list pages */

.entry-cover {
    display: block !important;
}


/* article */

.post-tags a, .share-buttons, .paginav {
    border: none;
}

.post-tags a:hover,
.paginav a:hover {
    background: var(--code-bg2);
}


/* profile */

.profile-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 60%;
}

.profile-position {
    font-weight: 700;
    font-size: 28px;
}

.profile-team {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}

.profile-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-icon {
    height: 26px;
    width: 26px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.profile-bio {
    margin-top: 50px;
    margin-bottom: 30px;
}