<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default " auto" }}">

<head>
  {{- partial "head.html" . }}
</head>

<body  class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
{{- partialCached "header.html" . .Page}}
<main class="main team-page">

  <article class="post-single ">
    <header class="post-header">
      {{- partial "breadcrumbs.html" . }}
      <h1 class="post-title" style="text-align: center; margin-bottom: 75px;">
        {{ .Title }}
      </h1>
      {{- if .Description }}
      <div class="post-description">
        {{ .Description }}
      </div>
      {{- end }}
    </header>
    {{- partial "anchored_headings.html" .Content -}}
    <footer class="post-footer">
      {{- if .Params.tags }}
      <ul class="post-tags">
        {{- range ($.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- if (.Param "ShowPostNavLinks") }}
      {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{- if and (gt (len $pages) 1) (in $pages . ) }}
      <nav class="paginav">
        {{- with $pages.Next . }}
        <a class="prev" href="{{.Permalink}}">
          <span class="title">« {{ i18n "prev_page" }}</span>
          <br>
          <span>{{- .Name -}}</span>
        </a>
        {{- end}}
        {{- with $pages.Prev . }}
        <a class="next" href="{{.Permalink}}">
          <span class="title">{{ i18n "next_page" }} »</span>
          <br>
          <span>{{- .Name -}}</span>
        </a>
        {{- end}}
      </nav>
      {{- end }}
      {{- end }}
    </footer>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
  </article>
</main>
{{- partialCached "footer.html" . .Type .Layout .Params }}
</body>

</html>