{{ $class := "team-member"}}
{{- $profile := .Get "profile"}}
{{- if $profile }}
{{ $class = "team-member team-member-with-profile"}}
{{- end }}

<div class="{{ $class }}">
  {{- if $profile }}
  <a href="{{ (printf "/profile/%s" $profile) }}">
  {{- end }}
  <figure>
    <img src="{{ .Get "img" }}" alt=" {{ .Get "name" }} - {{ .Get "title" }}" class="team-member-image" >
    <figcaption>
      <p class="member-name">
        {{ .Get "name" }}
      </p>
      <p class="member-title">
        {{ .Get "title" }}
      </p>
    </figcaption>
  </figure>
  {{- if $profile }}
  </a>
  {{- end }}
</div>

